<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
      <div class="text-center">
        <p><%= form.label :name, '名前' %></p>
      </div>
      <div class="col-xs-4 col-xs-push-4">
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Name' %>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="field">
    <div class="form-group">
      <div class="text-center">
        <p><%= form.label :email, 'メールアドレス' %></p>
      </div>
      <div class="col-xs-4 col-xs-push-4">
        <%= form.text_field :email, :class => 'form-control', :placeholder => 'MailAddress' %>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="actions">
    <%= form.submit '実行', :class => 'btn btn-success' %>
  </div>
<% end %>
