<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>みんなのスケジュール一覧</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"><h4><b>氏名</b></h4></th>
      <th class="text-center"><h4><b>タイトル</b></h4></th>
      <th class="text-center"><h4><b>日付</b></h4></th>
      <th class="text-center"><h4><b>特記事項</b></h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @schedules.exists? then %>
      <p>現在スケジュールは設定されていません</p>
    <% end %>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><h5><b><%= @users.find(schedule.user_id).name %></b><h5></td>
        <td><h5><b><%= schedule.title %></b><h5></td>
        <td><h5><b><%= schedule.plan_date %></b><h5></td>
        <td><h5><b><%= schedule.level %></b><h5></td>
        <td><%= link_to '編集する', edit_schedule_path(schedule), :class => 'btn btn-info' %></td>
        <td><%= button_to '削除する', schedule, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= link_to '戻る', users_path, :class => 'btn btn-default' %>
</div>
